/**
 * Button
 *
 * default - Default
 * .-green - Red
 * .-sm - Small
 * .-lg - Large
 * .-xl - X-Large
 * .-block - Block-level
 * .is-disabled - Disabled
 *
 * Markup:
 * <a class="button {$modifiers}" href="javascript:;">Link</a>
 * <button class="button {$modifiers}">Button</button>
 * <input class="button {$modifiers}" type="submit" value="Submit">
 * <a class="button {$modifiers}" href="javascript:;">
 *     <svg class="icon"><use xlink:href="/dist/icon.svg#hipster"></use></svg>
 *     <span class="button__text -middle">With icon</span>
 * </a>
 *
 * Styleguide 2.4
 */

.button {
    position: relative;
    display: inline-block;
    padding: .65em 1em;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    color: var(--gray-darker);
    border: 1px solid var(--gray-light);
    border-radius: 3px;
    background: var(--white);
    font-size: 1rem;
    line-height: 1;
}

/* Colors */

.button.-green {
    color: var(--white);
    border: none;
    background: var(--brand-green);
}

/* Sizes */

.button.-sm {
    font-size: .8rem;
}

.button.-lg {
    font-size: 1.2rem;
}

.button.-xl {
    font-size: 1.4rem;
}

/* Block-level */

.button.-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

/* States */

.button:hover,
.button:focus,
.button:active {
    text-decoration: none;
    opacity: .8;
}

.button:disabled,
.button.is-disabled {
    cursor: default;
    pointer-events: none;
    opacity: .6;
}

/**
 * Button text
 */

.button__text {
    display: inline;
    vertical-align: top;
}

.button__text.-middle {
    vertical-align: middle;
}

.button__text.-bottom {
    vertical-align: bottom;
}
