/**
 * HTML
 *
 * Markup:
 * <html>
 *     ...
 * </html>
 */

html {
    word-wrap: break-word;
    word-break: break-all;
    color: var(--gray-darker);
    background: var(--gray-lighter);
    font-family: var(--font-family-sans-serif);
    font-size: 14px;
    line-height: 1.5;
}
