/**
 * Icon
 *
 * default - Default
 * .-green - Red
 * .-xs - X-Small
 * .-sm - Small
 * .-lg - Large
 * .-xl - X-Large
 *
 * Markup:
 * <svg class="icon {$modifiers}"><use xlink:href="/icon.svg#hipster"></use></svg>
 *
 * Styleguide 2.3
 */

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    fill: currentColor;
}

/* Colors */

.icon.-green {
    fill: var(--brand-green);
}

/* Sizes */

.icon.-sm {
    width: .8rem;
    height: .8rem;
}

.icon.-lg {
    width: 1.2rem;
    height: 1.2rem;
}

.icon.-xl {
    width: 1.4rem;
    height: 1.4rem;
}
