/**
 * Input
 *
 * default - Default
 * .-xs - X-Small
 * .-sm - Small
 * .-lg - Large
 * .-xl - X-Large
 * .-block - Block-level
 * .-inline - Inline-level
 * .is-disabled - Disabled
 *
 * Markup:
 * <input class="input {$modifiers} u-mb10" type="text" placeholder="Text">
 * <input class="input {$modifiers} u-mb10" type="password" placeholder="Password">
 * <div class="input -select {$modifiers} u-mb10">
 *     <select>
 *         <option selected>1</option>
 *         <option>2</option>
 *         <option>3</option>
 *     </select>
 * </div><!-- /.input -->
 * <textarea class="input -textarea {$modifiers}" placeholder="Textarea"></textarea>
 *
 * Styleguide 2.5
 */

.input {
    display: block;
    padding: .6em .8em;
    max-width: 100%;
    width: 12rem;
    height: 34px;
    border: 1px solid var(--gray-light);
    border-radius: 3px;
    background: var(--white);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06);
    font-size: 1rem;
}

/* Sizes */

.input.-xs {
    width: 3rem;
}

.input.-sm {
    width: 7.5rem;
}

.input.-lg {
    width: 16.5rem;
}

.input.-xl {
    width: 21rem;
}

/* Block-level */

.input.-block {
    width: 100%;
}

/* Inline-level */

.input.-inline {
    display: inline-block;
    vertical-align: top;
}

/* Select */

.input.-select {
    position: relative;
    padding: 0;
}

.input.-select > select {
    display: block;
    padding: .6em .8em;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    line-height: 1;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.input.-select > select::-ms-expand {
    display: none;
}

.input.-select::before,
.input.-select::after {
    position: absolute;
    top: .75em;
    right: .8em;
    height: 0;
    border-width: 4px;
    border-style: dashed;
    border-color: var(--gray-dark) transparent;
    content: "";
}

.input.-select::before {
    border-top: none;
    border-bottom-style: solid;
}

.input.-select::after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

/* Textarea */

.input.-textarea {
    min-height: 8em;
    resize: vertical;
}

/* States */

.input:disabled,
.input.is-disabled {
    opacity: .6;
    cursor: default;
    pointer-events: none;
}
