/**
 * Colors
 *
 * Markup:
 * <div style="background: #000;" class="styleguide-color">black</div>
 * <div style="background: #333;" class="styleguide-color">gray-darker</div>
 * <div style="background: #555;" class="styleguide-color">gray-dark</div>
 * <div style="background: #999;" class="styleguide-color">gray</div>
 * <div style="background: #ccc;" class="styleguide-color">gray-light</div>
 * <div style="background: #f0f0f0;" class="styleguide-color">gray-lighter</div>
 * <div style="background: #fff;" class="styleguide-color">white</div>
 * <div style="background: #d9534f;" class="styleguide-color">brand-red</div>
 * <div style="background: #5cb85c;" class="styleguide-color">brand-green</div>
 * <div style="background: #f0ad4e;" class="styleguide-color">brand-yellow</div>
 *
 * Styleguide 1.1
 */

:root {
    /* Gray colors */

    --black: #000;
    --gray-darker: #333;
    --gray-dark: #555;
    --gray: #999;
    --gray-light: #ccc;
    --gray-lighter: #f0f0f0;
    --white: #fff;

    /* Brand colors */

    --brand-red: #d9534f;
    --brand-green: #5cb85c;
    --brand-yellow: #f0ad4e;
}
