{
  "presets": ["@babel/typescript", "@babel/react"],
  "plugins": [
    "@babel/syntax-dynamic-import",
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "preval",
    "babel-plugin-styled-components"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/transform-react-constant-elements",
        "@babel/transform-react-inline-elements",
        [
          "babel-plugin-styled-components",
          {
            "displayName": false
          }
        ]
      ]
    },
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
