#!include:.gitignore

.editorconfig
.env*
.gcloudignore
.git
.git-crypt
.gitattributes
.gitignore
.npmrc

src/
static/
test/
tools/

README.md
tsconfig.esnext.json
tsconfig.json
tslint.json

!dist/**
