:root {
  --_1t0e9g20: auto;
  --_1t0e9g21: 1 / 1;
  --_1t0e9g22: 4 / 3;
  --_1t0e9g23: 16 / 9;
  --_1t0e9g24: 0;
  --_1t0e9g25: 1px;
  --_1t0e9g26: 2px;
  --_1t0e9g27: 4px;
  --_1t0e9g28: 8px;
  --_1t0e9g29: #fafafa;
  --_1t0e9g2a: #f5f5f5;
  --_1t0e9g2b: #eeeeee;
  --_1t0e9g2c: #e0e0e0;
  --_1t0e9g2d: #bdbdbd;
  --_1t0e9g2e: #9e9e9e;
  --_1t0e9g2f: #757575;
  --_1t0e9g2g: #616161;
  --_1t0e9g2h: #424242;
  --_1t0e9g2i: #212121;
  --_1t0e9g2j: #fce4ec;
  --_1t0e9g2k: #f8bbd0;
  --_1t0e9g2l: #f48fb1;
  --_1t0e9g2m: #f06292;
  --_1t0e9g2n: #ec407a;
  --_1t0e9g2o: #e91e63;
  --_1t0e9g2p: #d81b60;
  --_1t0e9g2q: #c2185b;
  --_1t0e9g2r: #ad1457;
  --_1t0e9g2s: #880e4f;
  --_1t0e9g2t: #ffffff;
  --_1t0e9g2u: #000000;
  --_1t0e9g2v: transparent;
  --_1t0e9g2w: currentColor;
  --_1t0e9g2x: 12px;
  --_1t0e9g2y: 14px;
  --_1t0e9g2z: 16px;
  --_1t0e9g210: 18px;
  --_1t0e9g211: 20px;
  --_1t0e9g212: 24px;
  --_1t0e9g213: 28px;
  --_1t0e9g214: 32px;
  --_1t0e9g215: 36px;
  --_1t0e9g216: 40px;
  --_1t0e9g217: sans-serif;
  --_1t0e9g218: monospace;
  --_1t0e9g219: span 1 / span 1;
  --_1t0e9g21a: span 2 / span 2;
  --_1t0e9g21b: span 3 / span 3;
  --_1t0e9g21c: span 4 / span 4;
  --_1t0e9g21d: span 5 / span 5;
  --_1t0e9g21e: span 6 / span 6;
  --_1t0e9g21f: span 7 / span 7;
  --_1t0e9g21g: span 8 / span 8;
  --_1t0e9g21h: span 9 / span 9;
  --_1t0e9g21i: span 10 / span 10;
  --_1t0e9g21j: span 11 / span 11;
  --_1t0e9g21k: span 12 / span 12;
  --_1t0e9g21l: auto;
  --_1t0e9g21m: 1 / -1;
  --_1t0e9g21n: repeat(1, minmax(0, 1fr));
  --_1t0e9g21o: repeat(2, minmax(0, 1fr));
  --_1t0e9g21p: repeat(3, minmax(0, 1fr));
  --_1t0e9g21q: repeat(4, minmax(0, 1fr));
  --_1t0e9g21r: repeat(5, minmax(0, 1fr));
  --_1t0e9g21s: repeat(6, minmax(0, 1fr));
  --_1t0e9g21t: repeat(7, minmax(0, 1fr));
  --_1t0e9g21u: repeat(8, minmax(0, 1fr));
  --_1t0e9g21v: repeat(9, minmax(0, 1fr));
  --_1t0e9g21w: repeat(10, minmax(0, 1fr));
  --_1t0e9g21x: repeat(11, minmax(0, 1fr));
  --_1t0e9g21y: repeat(12, minmax(0, 1fr));
  --_1t0e9g21z: none;
  --_1t0e9g220: screen and (min-width: 768px);
  --_1t0e9g221: screen and (min-width: 1024px);
  --_1t0e9g222: (prefers-color-scheme: light);
  --_1t0e9g223: (prefers-color-scheme: dark);
  --_1t0e9g224: 0;
  --_1t0e9g225: 4px;
  --_1t0e9g226: 8px;
  --_1t0e9g227: 12px;
  --_1t0e9g228: 9999px;
  --_1t0e9g229: 16px;
  --_1t0e9g22a: 20px;
  --_1t0e9g22b: 24px;
  --_1t0e9g22c: 28px;
  --_1t0e9g22d: 32px;
  --_1t0e9g22e: 36px;
  --_1t0e9g22f: 40px;
  --_1t0e9g22g: 44px;
  --_1t0e9g22h: 48px;
  --_1t0e9g22i: 52px;
  --_1t0e9g22j: 56px;
  --_1t0e9g22k: 64px;
  --_1t0e9g22l: 80px;
  --_1t0e9g22m: 96px;
  --_1t0e9g22n: 112px;
  --_1t0e9g22o: 128px;
  --_1t0e9g22p: 144px;
  --_1t0e9g22q: 160px;
  --_1t0e9g22r: 176px;
  --_1t0e9g22s: 192px;
  --_1t0e9g22t: 208px;
  --_1t0e9g22u: 224px;
  --_1t0e9g22v: 240px;
  --_1t0e9g22w: 256px;
  --_1t0e9g22x: 288px;
  --_1t0e9g22y: 320px;
  --_1t0e9g22z: 640px;
  --_1t0e9g230: 768px;
  --_1t0e9g231: 1024px;
  --_1t0e9g232: min-content;
  --_1t0e9g233: max-content;
  --_1t0e9g234: fit-content;
  --_1t0e9g235: 50%;
  --_1t0e9g236: 33.333333%;
  --_1t0e9g237: 66.666667%;
  --_1t0e9g238: 25%;
  --_1t0e9g239: 50%;
  --_1t0e9g23a: 75%;
  --_1t0e9g23b: 20%;
  --_1t0e9g23c: 40%;
  --_1t0e9g23d: 60%;
  --_1t0e9g23e: 80%;
  --_1t0e9g23f: 16.666667%;
  --_1t0e9g23g: 33.333333%;
  --_1t0e9g23h: 50%;
  --_1t0e9g23i: 66.666667%;
  --_1t0e9g23j: 83.333333%;
  --_1t0e9g23k: 100%;
  --_1t0e9g23l: 100vw;
  --_1t0e9g23m: 100vh;
  --_1t0e9g23n: 0;
  --_1t0e9g23o: 4px;
  --_1t0e9g23p: 8px;
  --_1t0e9g23q: 12px;
  --_1t0e9g23r: 16px;
  --_1t0e9g23s: 20px;
  --_1t0e9g23t: 24px;
  --_1t0e9g23u: 28px;
  --_1t0e9g23v: 32px;
  --_1t0e9g23w: 36px;
  --_1t0e9g23x: 40px;
  --_1t0e9g23y: 44px;
  --_1t0e9g23z: 48px;
  --_1t0e9g240: 52px;
  --_1t0e9g241: 56px;
  --_1t0e9g242: 60px;
  --_1t0e9g243: 64px;
  --_1t0e9g244: auto;
  --_1t0e9g245: auto;
  --_1t0e9g246: -1;
  --_1t0e9g247: 0;
  --_1t0e9g248: 100;
}
body {
  color: var(--_1t0e9g2h);
  background-color: var(--_1t0e9g29);
  font-family: var(--_1t0e9g217);
  line-height: 1.5;
}
a, button {
  cursor: pointer;
}
b, strong {
  font-weight: bolder;
}
code, kbd, samp, pre {
  font-family: var(--_1t0e9g218);
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
:disabled {
  cursor: default;
}
:focus-visible {
  outline: revert;
}

/*# sourceMappingURL=main.css.map*/