a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

button.pseudo-class-focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

[tabindex="-1"].pseudo-class-focus {
  outline: none !important;
}

a.pseudo-class-hover,
a.pseudo-class-focus,
a.pseudo-class-active,
.link.pseudo-class-hover,
.link.pseudo-class-focus,
.link.pseudo-class-active {
  opacity: .8;
}

.button.pseudo-class-hover,
.button.pseudo-class-focus,
.button.pseudo-class-active {
  text-decoration: none;
  opacity: .8;
}

.button.pseudo-class-disabled {
  cursor: default;
  pointer-events: none;
  opacity: .6;
}

.input.pseudo-class-disabled {
  cursor: default;
  pointer-events: none;
  opacity: .6;
}