html {
    font-size: 14px;
}

/* Designer tool */

.sg.design {
    display: none;
}

/* Styleguide Root */

.sg.section ::shadow .sg-root {
    padding: 20px;
    background: #f0f0f0;
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

/* Styleguide Colors */

.sg.section ::shadow .sg-swatches {
    overflow: hidden;
    margin-top: -1em;
    margin-left: -1em;
}

.sg.section ::shadow .sg-swatches > li {
    float: left;
    margin-top: 1em;
    margin-bottom: 25px;
    margin-left: 1em;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    text-align: center;
    line-height: 230px;
}

/* Styleguide Grid */

.sg.section ::shadow .sg-gridDemo {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
}

.sg.section ::shadow .sg-gridDemo.-tall {
    padding-top: 2em;
    padding-bottom: 2em;
}

.sg.section ::shadow .sg-gridDemo.-transparent {
    opacity: .6;
}
